.box-img{
    height: 130px;
    width: 130px;
}
footer a{
    text-decoration: none;
    color: gainsboro;
}
.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color: #1DA1F2;
}
.fa-linkedin{
    color: #0072b1;
}
.fa-skype{
    color: #00aff0;
}
.fa-youtube{
    color: #c4302b;
}